Package: com.axs.cameraboost.prefs
Name: CameraBoost Preferences
Version: 1.0.0
Architecture: iphoneos-arm
Description: CameraBoost 偏好设置
Maintainer: Axs
Author: Axs
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.0)
Priority: optional
